@charset "utf-8";
/* CSS Document */

body
{
font-size:75%;
font-family:verdana,arial,'sans serif';

background-color:#EBF7F4;
color:#1A1A73;
margin:70px;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

th {background-color:#ADD8E6;}

ul {list-style:circle;}
ol {list-style:upper-roman;}

a:link {color:#000080;}
a:hover {color:red;}